<ion-view view-title="Main Menu" name="main-menu-view">
  <ion-content class="padding">
      <div class="list list-inset">
          
      </div>

      <button class="button button-large button-stable button-outlined" ng-click="selectTabWithIndex(7)">Settings</button>
      <button class="button button-large button-balanced" ng-click="selectTabWithIndex(5)">Visit Store</button>
      <button class="button button-large button-calm" ng-click="selectTabWithIndex(6)">Start New Game</button>
      <button class="button button-large button-positive" ng-click="showLoadSavedGame">Load Saved Game</button>
  </ion-content>
</ion-view>