<ion-view view-title="Create New Players" name="players-view">
  <ion-content class="padding">

      <div class="row">
        <section class="col" ng-repeat="player in app.players track by $index">
            <a class="item-player">
                <img src="{{player.face}}" class="avatar">
                <h2 class="ng-binding">{{player.name}}</h2>
                <p class="ng-binding">Score: {{player.score}}</p>
            </a>
        </section>
      </div>




      <p class="messages">
         <div class="title">
            You currently have <strong>{{app.players.length}}</strong> of <strong>4</strong> minimum players for a new game.
        </div>
        <span class="brand-error {{ (app.readyForTeams === false) ? 'show' : 'hidden' }}">Please add more players...</span>
        <span class="brand-success {{ (app.readyForTeams == true) ? 'show' : 'hidden' }}">Nice! You may now proceed to the next step or continue adding players!</span>

      </p>
      

    <div class="bar bar-footer bar-dark">

   
                <button class="button button-stable" ng-click="showNewPlayer()"><i class="ion-ios-plus-empty"></i> Add Player</button>
              <a class="button icon-left ion-chevron-right button-clear button-dark {{ (app.readyForTeams === true) ? 'show' : 'hidden' }}" ng-click="app.showBuildTeams()"> Create New Teams </a>
     

    </div>

  </ion-pane>
</ion-view>

