<ion-view view-title="" name="teams-view">
  <ion-content class="padding" no-scroll>

<div class="row">
    <div class="col">
      <p class="messages">

      hheeeeyyy
         <div class="title">
            You currently have <strong>{{players.length}}</strong> of <strong>4</strong> minimum players for a new game.
        </div>
      </p>
  </div>
</div>

<div id="game__container--top"> 
    You currently have <strong>{{players.length}}</strong> of <strong>4</strong> minimum players for a new game.
</div>

         <div class="row">
                <div class="col">
                    <div class="droppable-object" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
                        
                        <ul class="dragable-objects">
                            <li ng-repeat="player in droppedObjects1 track by $index" ng-drag="true" ng-drag-data="player" ng-drag-success="onDragSuccess1($data,$event)"
                                class="bg-team1"
                                ng-center-anchor="{{centerAnchor}}">
                                <h2 class="ng-binding player-name">{{player.name}}</h2>
                                <h3 class="ng-binding player-score">Score: {{player.score}}<h3>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="">
                    <ul class="draggable-objects">
                        <li ng-repeat="player in players track by $index">
                            
                            <div class="draggable-player" ng-drag="true" ng-drag-data="player" data-allow-transform="true"> 
                                <h2 class="ng-binding player-name ">{{player.name}}</h2>
                                <h3 class="ng-binding player-score">Score: {{player.score}}<h3>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="col">
                    <div class="droppable-object" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
                        <ul class="dragable-objects">
                            <li ng-repeat="player in droppedObjects2 track by $index" ng-drag="true" ng-drag-data="player" ng-drag-success="onDragSuccess2($data,$event)" 
                                class="bg-team2"
                                ng-center-anchor="{{centerAnchor}}">
                                
                                <h2 class="ng-binding player-name">{{player.name}}</h2>
                                <h3 class="ng-binding player-score">Score: {{player.score}}<h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
  

            <div class="bar bar-footer bar-dark">
                <button class="button button-balanced icon ion-android-add button-fab button-fab-bottom-right activated" 
                        ng-click="showNewPlayer()">
                </button>
            </div>



      <ion-content>
</ion-view>
