<h2 class="text--center ">
      What type of game would you like to play?
</h2>

<button class="button button-stable button-outline button block" ng-click="gameWithPlayers()">Game With Players</button>
<button class="button button-stable button-outline button-block" ng-click="gameWithTeams()">Game With Teams</button>



<div class="hidden">
    <button ng-click="newGame();">New Game</button>
    <button ng-click="continueGame();">Continue Game</button>
    <button ng-click="loadGame();">Load Game</button>
</div>
