<ion-view name="main-menu-view">
  <ion-content class="{{teamCss}}">
	<ion-pane ng-if="!gameStarted"><button class="button button-large" ng-click="startGame();">Start Game</button></ion-pane>

  	<ion-pane ng-if="gameStarted" class="{{teamCss}}">
  	<span>Team1: <strong>{{team1Score}}</strong></span>
  	<span>Team2: <strong>{{team2Score}}</strong></span>


		<h1>{{activePlayer.name}}</h1>
		<h2>Active Phrase:  {{activePhrase}}</h2>
		<h3>step:  {{step}}</h3>






		<button class="button button-large" ng-click="nextStep();">Next Step</button>
		<button class="button button-large" ng-click="addPointToActiveTeam();">Add Point</button>
		<button class="button button-large" ng-click="resetGame();">New Game</button>




	</ion-pane>



  </ion-content>
  <ion-pane ng-if="gameOver">
	<h1>Game Over</h1>
	<h2>{{winningTeam}} has won the game.  Play again?</h2>
  <button class="button button-large" ng-click="startGame();">Restart Game</button></ion-pane>
</ion-view>


