<ion-view name="main-menu-view">
  <ion-content class="main-menu">
	    
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
	    <ion-slide>
	        <div class="box blue">
	            <h1 class="text-underline">Uncivilized Charades</h1>
	            <p>
	                New Game todo... --create-players, drag players to team-area. on drop completePlayerService.assignTeam()
	            </p>
	            <p> <a ui-sref="tab.teams" ui-sref-opts="{reload: true}" class="button button-large button-calm button-outline">Teams</a></p>
	        </div>
	    </ion-slide>

	    <ion-slide>
	        <div class="box bg-team1">
	            <h1>Team1's Turn</h1>


	        </div>
	    </ion-slide>

	    <ion-slide>
	        <div class="box bg-team2">
	            <h1>Team2's Turn</h1>

	        </div>
	    </ion-slide>
	</ion-slide-box>

  </ion-content>
</ion-view>


