<div class="container">

    <p class="text--pre-title">WELCOME TO</p>
    <h1 class="text--start">Uncivilized Charades</h1>

       <div class="fixed__outside--center">

          <div class="row">
            <div class="col">
              <button class="button button-stable button-outline button-block" ng-click="gameWithPlayers();">Game With Players</button>
            </div>
            <div class="col">
              <button class="button button-stable button-outline button-block" ng-click="gameWithTeams();">Game With Teams</button>
            </div>
          </div>
          <div class="row">
            <div class="col center--block text--center">
              <img src="img/arrow-images/upLeft--white.png" class="arrow arrow--small center--block text--center">
            </div>
            <div class="col center--block text--center">
              <img src="img/arrow-images/upRight--white.png" class="arrow arrow--small center--block text--center">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h2 class="text--center ">
                  What type of game would you like to play?
              </h2>
            </div>
          </div>

      </div><!--/.fixed__outside--center-->

</div><!--/.container-->