<div class="modal">
     <ion-header-bar class="bar bar-clear">
        <h1 class="title">New Game</h1>
        <button class="button button-clear pull-left " ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="has-header">
    
      <h1>Start New Game</h1>
      <p class="text--center text--lead">
        Confirm your new game's players and click button below to start a new game.
      </p>

      <ul class="list">
		<li class="list-item" ng-repeat="player in game.players">{{player.name}}</li>
      </ul>

        <button type="submit" class="button button-block button-balanced button-large" ng-click="createNewGame(players)"> Start New Game</button>
    </ion-content>
</div>

