<div class="modal">

    <ion-content class="bg-success">
        <div class="row">
            <div class="col">
                <h3 class="success--title"> Well Done <strong>{{activePlayer.name || game.activeTeam }}!</strong></h3>
                <br>


                <p class="lead">You have been awarded <strong>+1 Point</strong></p>
                <p>Click button below to continue</p>
                <br>
                <br>
                <button class="button button-balanced icon ion-checkmark text--white" ng-click="addPointToActiveTeam();closeModal();nextStep();"> </button>


            </div>
        </div>
    </ion-content>
</div>