<div class="modal">

    <ion-content class="bg-success">
        <div class="row">
            <div class="col">
                <h3 class="success--title"> Well Done!</h3>
                <br>
                        <i class="ion-ribbon-b bigIcon" style="font-size: 60px;"></i>
                <br>
                <p class="lead">{{activePlayer.name || game.activeTeam }} <strong>+1 Point</strong></p>
                <p>Click button below to continue</p>
                <br>
                <br>
                <button class="button button-light button-outline icon ion-checkmark text--white" ng-click="addPointToActiveTeam();closeModal();nextStep();nextHand();"> Continue </button>


            </div>
        </div>
    </ion-content>
</div>