<div class="modal">
    <ion-header-bar class="bar bar-header bar-error">
        <h1 class="title">Your game is lame!</h1>
        <button class="button button-clear pull-left " ng-click="closeModal()">close</button>
    </ion-header-bar>
     <ion-content class="bg-error">
            <div class="text-center">
                <h2>Time Expired!</h2>
                <p class="text--center text--lead">
                    This is where the other team may risk 1 point and try to correctly guess the card's secret phrase.</p>
                <br>
                <br>
                <p class="text--center">
                    Woud the other team like to steal the point?
                </p>
                <br>
                <button class="button button-outline button-energized button-large" ng-click="game.startBonousRound()">Yes, steal point</button>
                <button class="button button-light button-outline button-large" ng-click="game.nextStep()">No thanks, start next turn</button>
            </div>

    </ion-content>
</div>