<div class="modal">

     <ion-content class="bg-error">

             <div class="text-center">

                <h1>Time Expired!</h1>
               <h3>Your game is lame, no points for you!</h3>
                <br>
                <h3>
                    The <strong>other team </strong> may risk<br> <strong>1 Point</strong> and try to<br> <strong>guess</strong> at what the <br><strong>secret phrase</strong> was.
                </h3>
                <p class="text--center">What say you?</p>
                <br>

                  <a class="button button-dark button-outline " ng-click="closeModal();showStealPoint();">Steal Point</a>
                  <a class="button  button-dark  icon icon-right ion-chevron-right" ng-click="closeModal();nextStep();">Continue</a>
                </div>

    </ion-content>
</div>