<ion-view view-title="Uncivilized Charades" name="game-view">
  <ion-content class="padding">
     <div ng-controller="CardsController">

            <div class="bar bar-header bar-{{ teamColor }}">
                <h1 class="title">{{activeTeam}}</h1>
            </div><!--  bar  -->
                
                <div class="bar bar-subheader bar-transparent">
                  
                  <h2 class="instruction-text {{ (step === -1) ? 'show' : 'hidden' }}">
                      Swipe the card UP to Start Game
                      <div class="arrow-box">
                        <i class="ion-ios-arrow-thin-up"></i>
                      </div>
                  </h2>
                  <h2 class="instruction-text {{ (step === 0) ? 'show' : 'hidden' }}">
                      {{activeTeam}}'s Up!<br> Choose a Secret Phrase to act out.
                  </h2>
                  <h2 class="instruction-text {{ (step === 1) ? 'show' : 'hidden' }}">
                      Swipe right and left, choose a card, press GO! button.
                  </h2>
                  <h2 class="instruction-text {{ (step === 2) ? 'show' : 'hidden' }}">
                      Act out the Secret Phrase ...<br>
                      <strong><div class="seconds-remaining">00:{{secondsRemaining}}</div></strong>
                  </h2>
                  <h2 class="instruction-text {{ (step === 3) ? 'show' : 'hidden' }}">
                      Swipe the card UP to begin next turn
                      <div class="arrow-box">
                        <i class="ion-ios-arrow-thin-up center-block animated"></i>
                      </div>

                  </h2>

                </div><!--  bar bar-subheader -->


                     

            <div ng-if="cards.active">
               <td-cards control="cardsControl">
                     <td-card 
                        ng-repeat="card in cards.active"
                            on-transition-up="cardSwipedUp($index)"
                            on-transition-left="cardSwipedLeft($index)"
                            on-transition-right="cardSwipedRight($index)"
                            on-partial-swipe="cardPartialSwipe(amt)" 
                            on-destroy="cardDestroyed($index)"
                            class="card card-{{$index}}  card-{{( hideCards == true ) ? 'back' : 'face' }} ">
                        <div  ng-controller="CardCtrl">

                          <article class="phrase">
                                <h1 class="td-title">{{card.phrase}}</h1>
                              </article>

                              <button  ng-click="activateCard($index);" class="button button-calm button-outlined td-button">Select Card</button>
                                    <!-- 
                                    ion-ios-timer-outline
                                    ion-close
                                    ion-ios-person-outline
                                    ion-ios-people-outline
                                    ion-asterisk
                                    ion-log-out
                                    ion-log-in
                                    ion-power
                                    ion-ribbon-a
                                    ion-ribbon-b
                                    ion-trophy -->

                              <div ng-if="cards.activeCard.length">
                                  <span class="button button-balanced button-block icon ion-ios-timer-outline button-rounded" ng-click="newCountdown();selectTimer(2)">Start Countdown!</span>
                              </div>

                        </div>
                     </td-card>

                <td-card id="end-card" drag="false" ng-if="cards.active.length === 0">
                    <i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
                </td-card>

               </td-cards>
            </div>




          
            <div class="bar bar-footer bar-transparent">
              <div class="title">
                
                <span id="team1ScoreBoard" class="team-score pull-left"><b>Team1 Score: {{team1Score}}</b></span>
                <span id="team2ScoreBoard" class="team-score pull-right"><b>Team2 Score: {{team2Score}}</b></span>
                <span class="team-score center-block"><b>turn: {{turn}} || step: {{step}}</b></span>
                
              </div>
            </div>

        </div>
    </ion-content>
</ion-view>






